/* Self-hosted Plex assets keep font loading inside the app root, including linked-dependency worktrees.
   Full Korean subset, WOFF2 only: seven files. OFL licenses are alongside the fonts. */
@font-face {
  font-family: "IBM Plex Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./assets/fonts/ibm-plex-sans-kr-korean-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("./assets/fonts/ibm-plex-sans-kr-korean-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("./assets/fonts/ibm-plex-sans-kr-korean-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("./assets/fonts/ibm-plex-sans-kr-korean-700-normal.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./assets/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("./assets/fonts/ibm-plex-mono-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("./assets/fonts/ibm-plex-mono-latin-600-normal.woff2") format("woff2");
}
